import {commandName, description, options, requiredArgs, usage} from "ike-framework/out/CommandBase";
import {CommandBaseSync} from "ike-framework/out/CommandBaseSync";

@commandName("{{name}}")
@requiredArgs([])
@options([])
@usage("ike {{name}}")
@description("no description for {{name}}")

export class {{className}} extends CommandBaseSync {

    doExecute(argumentValues: Map<string, string>, optionValues: Map<string, string>): void {
        //TODO: take it forward!
    }
}