import {requiredArgs, CommandBaseSync, commandName, description, options, usage} from "ike-framework/out/CommandBaseSync";

@commandName("{{name}}")
@requiredArgs([])
@options([])
@usage("ike {{name}}")
@description("init a scripting project that will contain your scripts.")

export class {{className}} extends CommandBaseSync {

    doExecute(argumentValues: Map<string, string>, optionValues: Map<string, string>): void {
        //TODO: take it forward!
    }
}